@page "/"

<PageTitle>Início</PageTitle>

<a href="/cep" class="btn btn-outline-primary">Cep</a>
<a href="/advice" class="btn btn-outline-primary">Conselhos</a>
<a href="/chucknorris" class="btn btn-outline-primary">Chuck Norris</a>
